{
  "trailingComma": "all",
  "printWidth": 120,
  "useTabs": true,
  "singleQuote": true,
  "proseWrap": "never",
  "semi": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
